<div layout="row" ng-controller="songsController" ng-cloak>
    <div flex="10"></div>

    <div flex="80" class='m-20px-0'>
        <md-toolbar class="md-warn md-hue-2">
            <div class="md-toolbar-tools">
                <div flex md-truncate>
                    <h3 class="md-headline">Coke Studio</h3>
                </div>
            </div>
        </md-toolbar>
        <md-content flex>
            <md-list ng-if="allSongs.length">
                <md-list-item class="md-3-line" ng-repeat="song in songs">
                    <a>
                    <div class="md-list-item-text" width="100%">
                        <md-button class="btn1" ng-click="readOneSong(song)">
                        <div>
                        <img ng-src="{{song.cover_image}}" width="100px">
                        <span<h3>{{song.song}}</h3></span>
                        </div>
                        </md-button>
                    </div>
                    </a>
                    <div class="md-secondary-container">
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>

        <!--<audio controls="controls">
        <source src="http://hck.re/Rh8KTk" type="audio/ogg" />
        <source src="http://hck.re/Rh8KTk" type="audio/mpeg" />
        Your browser does not support the audio element.
        </audio>-->
    </div>
 
    <div flex="10"></div>
</div> <!-- end row -->